*.class

# Package Files #
*.jar
*.war
*.ear

.metadata

ASLTutor/gen/
ASLTutor/bin/

.c9revisions/

*Thumbs.db
ASLTutor/src/com/handicapable/asltutor/MakeQuizActivity.java.orig

ASLTutor.apk
*keystore