<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handicapable.asltutor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseQuizActivity"
            android:label="@string/title_activity_take_quiz" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handicapable.asltutor.MainActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".TakeQuizActivity"
            android:label="@string/title_activity_take_quiz" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handicapable.asltutor.MainActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".AddSignActivity"
            android:label="@string/title_activity_add_sign" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handicapable.asltutor.MainActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".ChooseDictionaryActivity"
            android:label="@string/title_activity_choose_dictionary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handicapable.asltutor.MainActivity" />
        </activity>
        <activity
            android:name=".MakeQuizActivity"
            android:label="@string/title_activity_make_quiz" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handicapable.asltutor.MainActivity" />
        </activity>
        <activity
            android:name=".ChooseWordActivity"
            android:label="@string/title_activity_choose_word" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handicapable.asltutor.ChooseDictionaryActivity" />
        </activity>
        <activity
            android:name=".ViewSignActivity"
            android:label="@string/title_activity_view_sign" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handicapable.asltutor.ChooseWordActivity" />
        </activity>
    </application>

</manifest>